* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao {
    width: 260px;
    height: 200;

}

.cartao-imagem {
    width: 100%;
    border-radius: 10px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}